{% extends "base.html" %}
{% block email %}
	<div class="collapse navbar-collapse" id="navbarSupportedContent-555">
		<ul class="navbar-nav ml-auto nav-flex-icons">
		{% if files %}
		  <li class="nav-item">
		  	<a class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Документы</a>
			<div class="dropdown-menu">
			{% for file in files %}
			  <a class="dropdown-item" href="{{ file.document.url }}">{{ file.claimant }}</a>
			{% endfor %}
			</div>
		  </li>
		 {% endif %}
		  <li class="nav-item">
		  	<a href="{% url 'mosgorsud_view_url' client.id %}" class="btn btn-primary">События  мосгорсуда</a>
		  </li>		 
		  <li class="nav-item">
		  	<a href="{% url 'reminder_url' client.id %}" class="btn btn-primary">Добавить напоминание</a>
		  </li>		  
		  <li class="nav-item">
		  	<a href="{% url 'upload_docs_url' client.id %}" class="btn btn-primary">Загрузить документ</a>
		  </li>
		  <li class="nav-item">		  
		    <a href="{% url 'yandex_oauth_url' client.id %}" class="nav-link waves-effect waves-light"><h3>{{ email_count.unread }}<i class="fas fa-envelope ml-2"></i></h3>		      
		    </a>
		  </li>
		</ul>
	</div>
{% endblock %}
{% block content %}

<div class="container-fluid mt-4 text-center">
{% if reminders %}
<div class="row">
  <div class="col-md-8">
	<p class="h4 text-center">Личный кабинет клиента</p>
	<ul class="list-group">	  
	  <li class="list-group-item"><p class="h6 text-center">Клиент:</p>{{ client.claimant }}</li>	  
	  <li class="list-group-item"><p class="h6 text-center">дата рождения:</p>{{ client.date_of_birth }}</li>	  
	  <li class="list-group-item"><p class="h6 text-center">Страховая компания:</p>{{ client.defendant }}</li>	  
	  <li class="list-group-item"><p class="h6 text-center">Дата осмотра:</p>{{ client.date_of_inspection }}</li>
	</ul>
  </div>
  <div class="col-md-4">
  {% for reminder in reminders %}
  	<p class="h4 text-center">Напоминание</p> 	
		<ul class="list-group">
		  <li class="list-group-item"><p class="h6 text-center">Описание:</p>{{ reminder.description }}</li>	  
		  <li class="list-group-item"><p class="h6 text-center">Дней до напоминания:</p>{{ reminder.days_to_reminder }}</li>
		</ul>
		<a href="{% url 'delete_reminder_url' client.id %}" class="btn btn-primary">Выполнено</a>
	{% endfor %}
  </div>
{% else %}
	<p class="h4 text-center">Личный кабинет клиента</p>
	<ul class="list-group">
	  <li class="list-group-item"><p class="h6 text-center">ID клиента:</p>{{ client.id }}</li>	
	  <li class="list-group-item"><p class="h6 text-center">Номер дела:</p>{{ client.case_number }}</li>	
	  <li class="list-group-item"><p class="h6 text-center">Клиент:</p>{{ client.claimant }}</li>	  
	  <li class="list-group-item"><p class="h6 text-center">дата рождения:</p>{{ client.date_of_birth }}</li>	  
	  <li class="list-group-item"><p class="h6 text-center">Страховая компания:</p>{{ client.defendant }}</li>	  
	  <li class="list-group-item"><p class="h6 text-center">Дата осмотра:</p>{{ client.date_of_inspection }}</li>
	</ul>
{% endif %}
</div>


</div>		
{% endblock %}
